* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#app {
    margin: auto;
    justify-content: center;
    width: 500px;
    padding: 20px;
    height: 500px;
    background: chocolate;
    border-radius: 10px;
}